/**
 * CONTENTS
 *
 * SETTINGS
 * Global...............Globally-available variables and config.
 *
 * GENERIC
 * Box-sizing...........Better default `box-sizing`.
 *
 * BASE
 * Headings.............H1–H6 styles.
 *
 * COMPONENTS
 * #header............The main page header.
 * #footer............The main page footer.
 * buttons..............Button elements.
 *
 * SECTIONS
 *
 * MODIFIER CLASSES
 *
 */



/*------------------------------------*\
  SETTINGS
\*------------------------------------*/

@font-face {
  font-family: 'anudawregular';
  src: url('assets/fonts/ANUDRG__-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}



/* GLOBAL VARIABLES */

html {

  /* Colors */
  --color-green: #10FFCB;
  --color-grey: #B9B6B8;
  --color-pink: #E5BEED;

  /* font colors */
  --color-paragraph: 
  --color-headings: 
}

@media screen and (min-width: 600px) {

  html {
    font-size: 115%;
  }

}





/*------------------------------------*\
GENERIC
\*------------------------------------*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}




/*------------------------------------*\
BASE
\*------------------------------------*/

/* body */
/* headings */
/* paragraphs */

body {
  font-family: 'sans-serif';
}

main {
  margin-top: 92px;
}

.btn, input {
  background-color: var(--color-green);
  padding: 1rem;
  border: none;
}

h1, span, .user-input__display {
  font-family: 'anudawregular', 'sans-serif';
}

.results {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 600px) {

  .results {
    flex-direction: row;
  } 

}

/*------------------------------------*\
 # NAVIGATION
\*------------------------------------*/

.nav {
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
}


.nav__brand {
  display: flex;
  align-items: center;
  padding: 1rem 1rem;
}

.nav__brand-logo {
  background-color: var(--color-green);
  border-radius: 50%;
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.nav__brand-logo img {
  height: 50px;
  max-width: 100%;
}

.nav__brand-name {
  padding-left: 5px;
}



/*------------------------------------*\
 # SECTION - GENERIC
\*------------------------------------*/

/* styling of different sections in the page */

.section {
    border-radius: 20px;
    text-align: center;
    /* width: 100%; */
}
.section-wrapper {
  padding: 2rem 1rem;
}


@media screen and (min-width: 600px) {

  .section-wrapper {
    padding: 5rem 1rem;
  } 

}

/*------------------------------------*\
 # LOADING VISUALISER
\*------------------------------------*/

.loader{
  border: 20px dashed var(--color-pink);
  border-radius: 50%;
  border-top: 20px solid var(--color-green);
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.loader-image {
  max-width: 20px;
  transform: scaleX(-1)
}

@-webkit-keyframes spin {
  0% {-webkit-transform: rotate(0deg)}
  100%{-webkit-transform: rotate(360deg)}
}
@keyframes spin{
    0% {transform: rotate(0deg)}
  100%{transform: rotate(360deg)}
}
/*------------------------------------*\
 # USER INPUT SECTION
\*------------------------------------*/



.results1 {
  background-color: var(--color-grey);
}

.user-input__label {
  display: block;
}

.user-input__display {
  font-size: 2rem;
}

@media screen and (min-width: 600px) {
  .user-input {
    background-color: var(--color-grey);
    /* max-width: 50%; */
  }

  .user-input__display {
    font-size: 3rem;
  }

}



/*-----------------------------------------*\
 # RESULTS (WRAPS GIF AND WEATHER TOGETHER)
\*-----------------------------------------*/


.results {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 600px) {
  
  .results {
    flex-direction: row;
  }

}



/*------------------------------------*\
 # CITY IMG SECTION
\*------------------------------------*/


.city-pic__img {
  border: 5px solid #fff;
  max-height: 40vh;
  max-width: 100%;
}





/*------------------------------------*\
 # WEATHER SECTION
\*------------------------------------*/

.results2 {
  background-color: var(--color-green);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.weather__img {
  width: 300px;
  max-width: 100%;
  border: 5px solid #fff;
}

.weather-section__description {
  text-transform: uppercase;
  font-weight: bold;
}

.weather-section__current-temp {
  font-weight: bold;
}


/*------------------------------------*\
 # FOOTER
\*------------------------------------*/









/*------------------------------------*\
  MODIFIER CLASSES
\*------------------------------------*/

/* width modifier classes */

.center {
  margin-left: auto;
  margin-right: auto;
  max-width: 60rem;
}

.width-lg {
  max-width: 60rem;
}

.width-md {
  max-width: 40rem;
}

.width-sm {
  max-width: 20rem;
}


/* stack modifier classes */

.stack-lg > * + * {
  margin-top: 3rem;
}

.stack-md > * + * {
  margin-top: 1.2rem; 
}

.stack-sm > * + * {
  margin-top: 0.5rem;
}